*{
    margin: 0;
}
#logo {
    position: relative;
    top: 20px;
    right: 140px;
}
.navigation {
    display: flex;
    justify-content: space-around;
}
ul li {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    position: relative;
    left: 35%;
    cursor: pointer;
}
ul li a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.heading{
    display: flex;
    justify-content: space-evenly;
    /* border: red solid; */
    margin-top: 8%;
}
select{
    width: 200px;
    height: 30px;
    margin-top: 10%;
    cursor: pointer;
}
.heading h2{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
#h1{
    /* border: red solid; */
    margin-right: 35%;
}
#shorting{
    /* border: red solid; */
    margin-left: 10%;
   }
.buy {
    display: flex;
    justify-content: center;
    /* transition: transform 0.3s ease;} */
}
.card {
    margin: 45px;
    background-color: rgb(249,249,247);
    cursor: pointer;
}
.card a{
    text-decoration: none;
    color: black;
}
/* .buy .card:hover{
    transform: translate(10px, 10px);} */
.card .rating {
        color:orangered;
    }
.next{
    display: flex;
    /* border: red solid; */
    margin-top: 1%;
    margin-left: 9%;
}
.button{
    width: 50px;
    height: 40px;
    background-color: white;
    border: rgb(247, 114, 66) 2px solid;
    color: black;
    margin-left: 1%;
    cursor: pointer;
}
button:hover{
    background-color: orangered;
}
footer{
    background: black;
    margin-top: 6%;
}
.footerdiv{
    display: flex;
    text-align: center;
    transition: transform 0.3s ease;
    height: 30vh;
}
.footerdiv a{
    text-decoration: none;
    color: gray;
}
.footerdiv a:hover{
    color: white;
}
.footerdiv .footeritem1{
    width: 480px;
    height: 170px;
    /* border:red solid; */
}
.footerdiv .footeritem2{
    width: 460px;
    height: 170px;
    /* border:red solid; */
}
.footerdiv .footeritem3{
    width: 330px;
    height: 170px;
    /* border:red solid; */
}
.footerdiv .footeritem4{
    width: 370px;
    height: 170px;
    /* border:red solid; */
}
.footerdiv .footeritem1 .download{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    margin-right: 4%;
    margin-top: 10%;
}
.smalltext{
    color: gray;
    font-size: 12px;
    margin-left: 23%;
    font-family: Arial, Helvetica, sans-serif;
}
#appstore{
    position: relative;
    left: 30px;
}
#playstore{
    position: relative;
    left: 25px
}
#logowhite{
    margin-top: 10%;
    margin-left: 10%;
}
#purpose{
color: grey; 
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
margin-left: 10%;
}
.lefttext{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    margin-top: 12%;
    margin-right: 20%;
}
.lefttextend{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    margin-top: 12%;
    margin-right: 70%;
}
#Coupons{
    color: grey; 
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20%;
    line-height: 18px;
    }
#Facebook{
    color: grey; 
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 70%;
    line-height: 18px;
}
.footerline{
    width: 80%;
    height: 2px;
    margin-left: 7%;
    background-color: white;
}
.copyright{
    margin-left: 40%;
    margin-top: 1%;
    color: gray;
    font-size: 12px;
}